Repository BuddiesOfBudgie/budgie-desktop, changes with the owners that CODEOWNERS names for each.
All owners: @BuddiesOfBudgie/best-buds, @EbonJaeger, @JoshStrobl, @fossfreedom, @serebit

CODEOWNERS:

# Global rule, if anything matches after this then that rule takes precedent
* @BuddiesOfBudgie/best-buds

# Mixed
src/daemon/notifications @EbonJaeger @JoshStrobl @BuddiesOfBudgie/best-buds
src/daemon/screenshot* @fossfreedom @JoshStrobl @BuddiesOfBudgie/best-buds

# Campbell
src/daemon/statusnotifier.vala @serebit @BuddiesOfBudgie/best-buds
src/panel/applets/tray @serebit @BuddiesOfBudgie/best-buds
src/plugin/raven @serebit @BuddiesOfBudgie/best-buds

# David
src/panel/applets/keyboard-layout @fossfreedom @BuddiesOfBudgie/best-buds

# Evan
src/appindexer @EbonJaeger @BuddiesOfBudgie/best-buds
src/dialogs/power @EbonJaeger @BuddiesOfBudgie/best-buds
src/panel/applets/trash @EbonJaeger @BuddiesOfBudgie/best-buds

# Josh
src/abomination @JoshStrobl @BuddiesOfBudgie/best-buds
src/daemon/xdgdirtracker @JoshStrobl @BuddiesOfBudgie/best-buds
src/panel/applets/icon-tasklist @JoshStrobl @BuddiesOfBudgie/best-buds

notification_view: Make NotificationGroup derive from Gtk.ListBoxRow and fix notification counting
  src/raven/notifications_group.vala
  src/raven/notifications_view.vala
Owners: @BuddiesOfBudgie/best-buds

fix various issues
  src/daemon/notifications/popup.vala
  src/lib/notification.vala
  src/panel/com.solus-project.budgie-panel.gschema.xml
  src/raven/notifications_group.vala
  src/raven/notifications_view.vala
Owners: @EbonJaeger, @JoshStrobl, @BuddiesOfBudgie/best-buds

notification_view: Simplify handling of notification groups in Raven
  src/lib/notification.vala
  src/raven/notifications_group.vala
  src/raven/notifications_view.vala
Owners: @BuddiesOfBudgie/best-buds

I swear this fixes something
  src/theme/common/_raven.scss
Owners: @BuddiesOfBudgie/best-buds

Simplify Raven notification group (#452)
  src/daemon/notifications/popup.vala
  src/lib/notification.vala
  src/panel/com.solus-project.budgie-panel.gschema.xml
  src/raven/notifications_group.vala
  src/raven/notifications_view.vala
  src/theme/common/_raven.scss
Owners: @EbonJaeger, @JoshStrobl, @BuddiesOfBudgie/best-buds

Bump to 10.8.1
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/gtk/budgie-desktop-docs.sgml
  docs/man/budgie-daemon.1
  docs/man/budgie-desktop-settings.1
  docs/man/budgie-desktop.1
  docs/man/budgie-panel.1
  docs/man/budgie-run-dialog.1
  docs/man/budgie-wm.1
  docs/man/org.buddiesofbudgie.BudgieScreenshot.1
  meson.build
  scripts/updatePot.sh
Owners: @BuddiesOfBudgie/best-buds

Fix initial tray icon scaling
  src/panel/applets/tray/TrayApplet.vala
Owners: @serebit, @BuddiesOfBudgie/best-buds

Address feedback, re-enable downscaling
  src/panel/applets/tray/TrayApplet.vala
Owners: @serebit, @BuddiesOfBudgie/best-buds

Update src/panel/applets/tray/TrayApplet.vala
  src/panel/applets/tray/TrayApplet.vala
Owners: @serebit, @BuddiesOfBudgie/best-buds

Fix initial tray icon scaling (#468)
  src/panel/applets/tray/TrayApplet.vala
Owners: @serebit, @BuddiesOfBudgie/best-buds

Fix oversight in custom icon theme path reading
  src/panel/applets/tray/TrayItem.vala
Owners: @serebit, @BuddiesOfBudgie/best-buds

Fix oversight in custom icon theme path reading (#480)
  src/panel/applets/tray/TrayItem.vala
Owners: @serebit, @BuddiesOfBudgie/best-buds

notifications: Try to guess app id if getting from hints fails
  src/lib/notification.vala
Owners: @BuddiesOfBudgie/best-buds

Add show-icon setting for keyboard-layout applet
  src/panel/applets/keyboard-layout/KeyboardLayoutApplet.vala
  src/panel/applets/keyboard-layout/com.solus-project.keyboard-layout.gschema.xml
  src/panel/applets/keyboard-layout/meson.build
  src/panel/applets/keyboard-layout/plugin.gresource.xml
  src/panel/applets/keyboard-layout/settings.ui
Owners: @fossfreedom, @BuddiesOfBudgie/best-buds

cleanup spacing between layout children widgets
  src/panel/applets/keyboard-layout/KeyboardLayoutApplet.vala
Owners: @fossfreedom, @BuddiesOfBudgie/best-buds

Fix margin inconsistencies in settings page
  src/panel/applets/keyboard-layout/settings.ui
Owners: @fossfreedom, @BuddiesOfBudgie/best-buds

notifications: Fix icon fallback when DesktopAppInfo is null
  src/lib/notification.vala
Owners: @BuddiesOfBudgie/best-buds

notifications: Try to guess app id if getting from hints fails (#479)
  src/lib/notification.vala
Owners: @BuddiesOfBudgie/best-buds

Use user-space variables to pass temporary screenshot data
  src/daemon/screenshot.vala
Owners: @fossfreedom, @JoshStrobl, @BuddiesOfBudgie/best-buds

Revert "notifications: Try to guess app id if getting from hints fails (#479)"
  src/lib/notification.vala
Owners: @BuddiesOfBudgie/best-buds

Use user-space variables to pass temporary screenshot data
  src/daemon/screenshot.vala
Owners: @fossfreedom, @JoshStrobl, @BuddiesOfBudgie/best-buds

Revert "Revert "notifications: Try to guess app id if getting from hints fails (#479)""
  src/lib/notification.vala
Owners: @BuddiesOfBudgie/best-buds

Use user-space variables to pass temporary screenshot data
  src/daemon/screenshot.vala
Owners: @fossfreedom, @JoshStrobl, @BuddiesOfBudgie/best-buds

Use user-space variables to pass temporary screenshot data
  src/daemon/screenshot.vala
Owners: @fossfreedom, @JoshStrobl, @BuddiesOfBudgie/best-buds

Use user-space variables to pass temporary screenshot data (#482)
  src/daemon/screenshot.vala
Owners: @fossfreedom, @JoshStrobl, @BuddiesOfBudgie/best-buds

Bump to 10.8.2
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/gtk/budgie-desktop-docs.sgml
  docs/man/budgie-daemon.1
  docs/man/budgie-desktop-settings.1
  docs/man/budgie-desktop.1
  docs/man/budgie-panel.1
  docs/man/budgie-run-dialog.1
  docs/man/budgie-wm.1
  docs/man/org.buddiesofbudgie.BudgieScreenshot.1
  meson.build
  scripts/updatePot.sh
Owners: @BuddiesOfBudgie/best-buds

Fix heap buffer overflow in UsageMonitor
  src/raven/widgets/usage-monitor/usage_monitor.vala
Owners: @BuddiesOfBudgie/best-buds

Port TabSwitcher over to libxfce4windowing
  .github/workflows/build.yml
  .gitmodules
  meson.build
  src/appsys/AppSystem.vala
  src/daemon/meson.build
  src/daemon/tabswitcher.vala
  src/wm/wm.vala
  vapi/libxfce4windowing-0.deps
  vapi/libxfce4windowing-0.vapi
Owners: @BuddiesOfBudgie/best-buds

ci: change package name for libxfce4windowing devel
  .github/workflows/build.yml
Owners: @BuddiesOfBudgie/best-buds

Port Show Desktop applet to libxfce4windowing
  src/panel/applets/show-desktop/ShowDesktopApplet.vala
  src/panel/applets/show-desktop/meson.build
Owners: @BuddiesOfBudgie/best-buds

Port Workspace applet
  src/panel/applets/workspaces/WindowIcon.vala
  src/panel/applets/workspaces/WorkspaceItem.vala
  src/panel/applets/workspaces/WorkspacesApplet.vala
  src/panel/applets/workspaces/meson.build
Owners: @BuddiesOfBudgie/best-buds

Fix typo in signal
  src/daemon/tabswitcher.vala
Owners: @BuddiesOfBudgie/best-buds

Use construct on TabSwitcherWindow
  src/daemon/tabswitcher.vala
Owners: @BuddiesOfBudgie/best-buds

Remove unnecessary workspace switch code.
  src/daemon/tabswitcher.vala
Owners: @BuddiesOfBudgie/best-buds

Make TabSwitcherSwitch sub-class Gtk.FlowBoxChild
  src/daemon/tabswitcher.vala
Owners: @BuddiesOfBudgie/best-buds

Clean up bit mask checking
  src/daemon/tabswitcher.vala
Owners: @BuddiesOfBudgie/best-buds

Use down var already defined
  src/panel/applets/workspaces/WorkspacesApplet.vala
Owners: @BuddiesOfBudgie/best-buds

Cleanup extra newline
  src/daemon/tabswitcher.vala
Owners: @BuddiesOfBudgie/best-buds

Port TabSwitcher, Show Desktop & Workspace applets over to libxfce4windowing (#485)
  .github/workflows/build.yml
  .gitmodules
  meson.build
  src/appsys/AppSystem.vala
  src/daemon/meson.build
  src/daemon/tabswitcher.vala
  src/panel/applets/show-desktop/ShowDesktopApplet.vala
  src/panel/applets/show-desktop/meson.build
  src/panel/applets/workspaces/WindowIcon.vala
  src/panel/applets/workspaces/WorkspaceItem.vala
  src/panel/applets/workspaces/WorkspacesApplet.vala
  src/panel/applets/workspaces/meson.build
  src/wm/wm.vala
  vapi/libxfce4windowing-0.deps
  vapi/libxfce4windowing-0.vapi
Owners: @BuddiesOfBudgie/best-buds

Update ca.po
  po/ca.po
Owners: @BuddiesOfBudgie/best-buds
